  <section class="consultancy-section">
    <div class="auto-container">
        <div class="inner-container">
            <h2>Quick Online Consultancy Only <br />on Few Minutes</h2>
            <form action="https://azim.commonsupport.com/Optcare/contact.html" method="post">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 column">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Ad Soyad" required="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 column">
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email" required="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 column">
                        <div class="form-group">
                            <div class="icon"><i class="fas fa-angle-down"></i></div>
                            <input type="text" name="date" placeholder="Görüş tarixi" id="datepicker2">
                        </div>
                    </div>
                </div>
                <div class="message-btn">
                    <button type="submit" class="theme-btn btn-one">Görüşə yazıl</button>
                </div>
            </form>
        </div>
    </div>
</section>