<section class="funfact-section p_relative bg-color-2">
    <div class="auto-container">
        <div class="inner-container">
            <div class="counter-block-one wow slideInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="icon-box p_relative d_block fs_60"><i class="icon-25"></i></div>
                    <div class="count-outer count-box">
                        <span class="count-text" data-speed="1500" data-stop="{{funfact.experience}}">0</span> +
                    </div>
                    <p>İllik Təcrübə</p>
                </div>
            </div>
            <div class="counter-block-one wow slideInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="icon-box p_relative d_block fs_60"><i class="icon-26"></i></div>
                    <div class="count-outer count-box">
                        <span class="count-text" data-speed="1500" data-stop="{{funfact.different_services}}">0</span> +
                    </div>
                    <p>Xidmət Növü</p>
                </div>
            </div>
            <div class="counter-block-one wow slideInUp animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="icon-box p_relative d_block fs_60"><i class="icon-27"></i></div>
                    <div class="count-outer count-box">
                        <span class="count-text" data-speed="1500" data-stop="{{funfact.happy_patients}}">0</span> +
                    </div>
                    <p>Məmnun Pasiyent</p>
                </div>
            </div>
            <div class="counter-block-one wow slideInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="icon-box p_relative d_block fs_60"><i class="icon-28"></i></div>
                    <div class="count-outer count-box">
                        <span class="count-text" data-speed="1500" data-stop="{{funfact.article}}">0</span> +
                    </div>
                    <p>Elmi Məqalə</p>
                </div>
            </div>
        </div>
    </div>
</section>