{% load static %}
<section class="process-section p_relative centred">
    <div class="pattern-layer">
        <div class="pattern-1 rotate-me" style="background-image: url(assets/images/icons/icon-1.png);"></div>
        <div class="pattern-2" style="background-image: url(assets/images/shape/shape-25.png);"></div>
    </div>
    <div class="auto-container">
        <div class="sec-title centred mb_85">
            <span class="sub-title">Biz necə işləyirik</span>
            <h2>{{home.how_it_works_title|safe}}</h2>
        </div>
        <div class="inner-container p_relative">
            <div class="shape" style="background-image: url({% static "assets/images/shape/shape-24.png" %});"></div>
            <div class="row clearfix">
                {% for process in processes %}
                <div class="col-lg-4 col-md-6 col-sm-12 processing-block">
                    <div class="process-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <span class="count-text">0{{forloop.counter}}</span>
                                <figure class="image"><img src="{{process.image.url}}" alt=""></figure>
                            </div>
                            <h3>{{process.title}}</h3>
                            <p>{{process.description}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>