{% load static %}
<section class="service-section p_relative bg-color-1">
    <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url(assets/images/shape/shape-4.png);"></div>
        <div class="pattern-2" style="background-image: url(assets/images/shape/shape-5.png);"></div>
    </div>
    <div class="auto-container">
        <div class="sec-title centred mb_50">
            <span class="sub-title">Xidmətlərimiz</span>
            <h2>{{home.service_section_title|safe}}</h2>
        </div>
        <div class="tabs-box">
                <div class="swiper mySwiper tab-btn-box ">
                    <div class="swiper-wrapper tab-btns tab-buttons">
                        {% for service in services %}
                    <div class="swiper-slide">
                        <li class="tab-btn {% if forloop.counter == 1 %}active-btn{% endif %}" data-tab="#tab-{{forloop.counter}}">
                            <div class="icon-box">
                                <img src="{{service.icon.url}}" alt=""></div>
                            <h4>{{service.title}}</h4>
                        </li>
                    </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="tab-btn-box p_relative d_block mb_70 centred service-display-over-small">
                    <ul class="tab-btns tab-buttons clearfix">
                        {% for service in services %}
                        <li class="tab-btn {% if forloop.counter == 1 %}active-btn{% endif %}" data-tab="#tab-{{forloop.counter}}">
                            <div class="icon-box">
                                <img src="{{service.icon.url}}" alt=""></div>
                            <h4>{{service.title}}</h4>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            <div class="tabs-content">
                {% for service in services %}
                <div class="tab {% if forloop.counter == 1 %}active-tab{% endif %}" id="tab-{{forloop.counter}}">
                    <div class="inner-box">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                                <div class="content_block_two">
                                    <div class="content-box">
                                        <div class="text">
                                            <h3>{{service.title}}</h3>
                                            <p>{{service.description|safe}}</p>
                                        </div>
                                        <ul class="list-style-one clearfix">
                                            {% for punkt in service.punkts.all %}
                                            <li>{{punkt.title}}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                <div class="image_block_two">
                                    <div class="image-box p_relative d_block">
                                        <figure class="image p_relative d_block"><img src="{{service.image.url}}" alt=""></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
