<footer class="main-footer p_relative">
    <div class="widget-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                    <div class="about-widget footer-widget mr_40">
                        <div class="widget-title">
                            <h3>About</h3>
                        </div>
                        <div class="widget-content">
                            <p>Lorem ipsum dolor amet consecto adi pisicing elit sed eiusm tempor incididunt labore dolore magna aliqua enim ad minim.</p>
                            <ul class="social-links clearfix">
                                <li><a href="index-2.html"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="index-2.html"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="index-2.html"><i class="fab fa-vimeo-v"></i></a></li>
                                <li><a href="index-2.html"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="links-widget footer-widget ml_100">
                        <div class="widget-title">
                            <h3>Links</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="links-list clearfix">
                                <li><a href="index-2.html">About</a></li>
                                <li><a href="index-2.html">Services</a></li>
                                <li><a href="index-2.html">Job</a></li>
                                <li><a href="index-2.html">opportunities</a></li>
                                <li><a href="index-2.html">Location</a></li>
                                <li><a href="index-2.html">Article</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                    <div class="links-widget footer-widget ml_30">
                        <div class="widget-title">
                            <h3>Services</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="links-list clearfix">
                                <li><a href="index-2.html">About</a></li>
                                <li><a href="index-2.html">Services</a></li>
                                <li><a href="index-2.html">Job</a></li>
                                <li><a href="index-2.html">opportunities</a></li>
                                <li><a href="index-2.html">Location</a></li>
                                <li><a href="index-2.html">Article</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="contact-widget footer-widget ml_50">
                        <div class="widget-title">
                            <h3>Contacts</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="info clearfix">
                                <li>Flat 20, Reynolds Neck, North Helenaville, FV77 8WS</li>
                                <li><a href="tel:23055873407">+2(305) 587-3407</a></li>
                                <li><a href="mailto:sample@example.com">sample@example.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom centred">
        <div class="auto-container">
            <div class="copyright"><p><a href="index-2.html">Optcare</a> &copy; 2022 All Right Reserved</p></div>
        </div>
    </div>
</footer>