<footer class="main-footer p_relative">
    <div class="widget-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                    <div class="about-widget footer-widget mr_40">
                        <div class="widget-title">
                            <h3>Haqqımızda</h3>
                        </div>
                        <div class="widget-content">
                            <p>{{setting.footer_description}}</p>
                            <ul class="social-links clearfix">
                                <li>
                                    <a href="{% if setting.facebook %}{{setting.facebook}}{% else %}#{% endif %}"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> 
                                </li>
                                <li>
                                    <a href="{% if setting.instagram %}{{setting.instagram}}{% else %}#{% endif %}"><i class="fab fa-instagram" aria-hidden="true"></i></a> 
                                </li>
                                <li>
                                    <a href="{% if setting.tiktok %}{{setting.tiktok}}{% else %}#{% endif %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom:4px;" width="14" height="14" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16">
                                            <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z"/>
                                          </svg>                           </a>
                                </li> <li>
                                    <a href="{% if setting.youtube %}{{setting.youtube}}{% else %}#{% endif %}"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="links-widget footer-widget ml_100">
                        <div class="widget-title">
                            <h3>Keçidlər</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="links-list clearfix">
                                <li><a href="{% url "about" %}">Haqqımızda</a></li>
                                <li><a href="{% url "services" %}">Xidmətlər</a></li>
                                <li><a href="{% url "blogs" %}">Bloq</a></li>
                                <li><a href="{% url "gallery" %}">Qaleriya</a></li>
                                <li><a href="{% url "contact" %}">Əlaqə</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                    <div class="links-widget footer-widget ml_30">
                        <div class="widget-title">
                            <h3>Xidmətlər</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="links-list clearfix">
                                {% for item in f_services %}
                                <li><a href="{{item.get_absolute_url}}">{{item.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="contact-widget footer-widget ml_50">
                        <div class="widget-title">
                            <h3>Əlaqə</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="info clearfix">
                                <li><a href="mailto:{{setting.email}}">{{setting.email}}</a></li>
                                <li><a href="{{setting.g_adress}}">{{setting.adress}}</a></li>
                                <li><a href="tel:{{setting.phone_number}}">{{setting.phone_number}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom centred">
        <div class="auto-container">
            <div class="copyright">
                <p>&copy; Copyright {{current_year}} by <a href="{{setting.copyright_link}}">{{setting.copyright_title}}</a></p>
            </div>
        </div>
    </div>
</footer>