{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Page Title -->
{% include "components/page-title.html" with page="Bloq" %}
<!-- End Page Title -->


<!-- news-section -->
<section class="news-section blog-grid p_relative">
    <div class="auto-container">
        <div class="row clearfix">
            {% for blog in blogs %}
                {% include "components/blog/blog-item.html" with blog=blog %}
            {% endfor %}
        </div>
        {% if page_obj.paginator.num_pages > 1 %}
        <div class="pagination-wrapper centred centred">
            <ul class="pagination clearfix">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i></a></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li>
                            <a class="current">
                                {{ i }}
                            </a> 
                        </li>
                    {% elif i > page_obj.number|add:"-3"|add:0 and i < page_obj.number|add:"3" %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% elif i == page_obj.paginator.num_pages and i > 3 %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% elif i == 1 and i < page_obj.paginator.num_pages|add:"-2" %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% elif i == page_obj.paginator.num_pages|add:"-1" %}
                        <li class="dot">...</li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right"></i></a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
</section>
<!-- news-section end -->
{% endblock content %}