{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Page Title -->
{% include "components/page-title.html" with page="Əlaqə" %}
<!-- End Page Title -->

<!-- contact-info-section -->
<section class="contact-info-section centred">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-6 col-sm-12 info-column">
                <div class="single-item">
                    <div class="icon-box"><i class="icon-57"></i></div>
                    <h3>Ünvan</h3>
                    <p>{{setting.adress}}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 info-column">
                <div class="single-item">
                    <div class="icon-box"><i class="icon-58"></i></div>
                    <h3>Email</h3>
                    <p><a href="mailto:{{setting.email}}">{{setting.email}}</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 info-column">
                <div class="single-item">
                    <div class="icon-box"><i class="icon-59"></i></div>
                    <h3>Əlaqə</h3>
                    <p><a href="tel:{{setting.phone_number}}">{{setting.phone_number}}</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact-info-section end -->


<!-- contact-style-two -->
<section class="contact-style-two p_relative">
    <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url({% static "assets/images/shape/shape-55.png" %});"></div>
        <div class="pattern-2" style="background-image: url({% static "assets/images/shape/shape-56.png" %});"></div>
    </div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 col-sm-12 big-column offset-lg-2">
                <div class="form-inner">
                    <h2>Əlaqə</h2>
                    <div id="success-msj">

                    </div>
                    <form method="post" id="contact-form"> 
                        {% csrf_token %}
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="text" name="name" placeholder="Ad Soyad" required="">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="email" name="email" placeholder="Email" required="">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="text" name="number" required="" placeholder="Nömrə">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="text" name="subject" required="" placeholder="Mövzu">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <textarea name="text" placeholder="Mesaj"></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn mr-0 centred">
                                <button class="theme-btn btn-one" type="submit" name="submit-form">Göndər</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact-style-two end -->


<!-- google-map-section -->
{% include "components/index/map.html" %}
<!-- google-map-section end -->

{% endblock content %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const contactForm = document.getElementById('contact-form');
        const successMessageDiv = document.getElementById('success-msj');
        contactForm.addEventListener('submit', function(event) {
            event.preventDefault();
    
            const formData = new FormData(contactForm);
    
            fetch(contactForm.action, {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())  
            .then(data => {
                if (data.status == "success") {
                    contactForm.reset();
                    successMessageDiv.textContent = 'Mesajınız uğurla göndərildi!';
                    successMessageDiv.classList.add('success-message');
    
                   
                }else{
                    successMessageDiv.textContent = '';
                }
            })
            .catch(error => {
                console.error('Hata:', error);
            });
        });
    });
    </script>
{% endblock js %}