{% extends "base.html" %}
{% block content %}

<!-- banner-section -->
{% include "components/index/banner.html" %}
<!-- banner-section end -->

<!-- consultancy-section -->
{% include "components/index/consultancy.html" %}
<!-- consultancy-section end -->

<!-- about-section -->
{% include "components/index/about.html" %}
<!-- about-section end -->

<!-- service-section -->
{% include "components/index/service.html" %}
<!-- service-section end -->

<!-- process-section -->
{% include "components/index/process.html" %}
<!-- process-section end -->

<!-- funfact-section -->
{% include "components/index/funfact.html" %}
<!-- funfact-section end -->

<!-- faq-section -->
{% include "components/index/faq.html" %}
<!-- faq-section end -->

<!-- client-messages-section -->
{% include "components/index/client-messages.html" %}
<!-- client-messages-section end -->

<!-- contact-section -->
{% include "components/index/contact.html" %}
<!-- contact-section end -->

<!-- news-section -->
{% include "components/index/blogs.html" %}
<!-- news-section end -->

<!-- google-map-section -->
{% include "components/index/map.html" %}
<!-- google-map-section end -->
{% endblock content %}