{% load static %}
<header class="main-header">
    <!-- header-top -->
    <div class="header-top">
        <div class="auto-container">
            <div class="top-inner">
                <div class="left-column">
                    <ul class="info clearfix">
                        <li><i class="icon-1"></i><a href="mailto:{{setting.email}}">{{setting.email}}</a></li>
                        <li><i class="icon-2"></i><a href="{{setting.g_adress}}">{{setting.adress}}</a></li>
                        <li><i class="icon-3"></i><a href="tel:{{setting.phone_number}}">{{setting.phone_number}}</a></li>
                    </ul>
                </div>
                <div class="right-column">
                    <ul class="social-links clearfix">
                        <li>
                            <a href="{% if setting.facebook %}{{setting.facebook}}{% else %}#{% endif %}"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> 
                        </li>
                        <li>
                            <a href="{% if setting.instagram %}{{setting.instagram}}{% else %}#{% endif %}"><i class="fab fa-instagram" aria-hidden="true"></i></a> 
                        </li>
                        <li>
                            <a href="{% if setting.tiktok %}{{setting.tiktok}}{% else %}#{% endif %}">
                                <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom:4px;" width="14" height="14" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16">
                                    <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z"/>
                                  </svg>                           </a>
                        </li> <li>
                            <a href="{% if setting.youtube %}{{setting.youtube}}{% else %}#{% endif %}"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- header-lower -->
    <div class="header-lower">
        <div class="auto-container">
            <div class="outer-box">
                <div class="logo-box">
                    <figure class="logo"><a href="{% url "home" %}"><img src="{{setting.logo.url}}" alt=""></a></figure>
                </div>
                <div class="menu-area clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </div>
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li {% if request.path == '/' %}class="current"{% endif %}><a href="{% url "home" %}">Ana səhifə</a></li>
                                <li {% if request.path == '/about/' %}class="current"{% endif %}><a href="{% url "about" %}">Haqqımızda</a></li>
                                <li {% if request.path|slice:":10" == '/services/' %}class="current"{% endif %}><a href="{% url "services" %}">Xidmətlər</a></li>
                                <li {% if request.path|slice:":7" == '/blogs/' %}class="current"{% endif %}><a href="{% url "blogs" %}">Bloq</a></li>
                                <li {% if request.path == '/gallery/' %}class="current"{% endif %}><a href="{% url "gallery" %}">Qalereya</a></li>
                                <li {% if request.path == '/contact/' %}class="current"{% endif %}><a href="{% url "contact" %}">Əlaqə</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="nav-right">
                    <div class="btn-box">
                        <a href="{% url "contact" %}" class="theme-btn btn-one">Görüşə yazıl</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--sticky Header-->
    <div class="sticky-header">
        <div class="auto-container">
            <div class="outer-box">
                <div class="logo-box">
                    <figure class="logo"><a href="{% url "home" %}"><img src="{{setting.logo.url}}" alt=""></a></figure>
                </div>
                <div class="menu-area clearfix">
                    <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
                </div>
                <div class="nav-right">
                    
                    <div class="btn-box">
                        <a href="{% url "contact" %}" class="theme-btn btn-one">Görüşə yazıl</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>